# Supabase Configuration
SUPABASE_URL=https://nryocpngmjaecigadcbn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5yeW9jcG5nbWphZWNpZ2FkY2JuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0MDg0MTYsImV4cCI6MjA4Nzk4NDQxNn0.OKv-Qb-WlWF5UOFqlRX8634S5Ck_z_XnxkXX4pKie00
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5yeW9jcG5nbWphZWNpZ2FkY2JuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQwODQxNiwiZXhwIjoyMDg3OTg0NDE2fQ.gsudBUEEFO58eoM7XM6LZmpLCbANsPZQWhAgRa5fVT0
SUPABASE_DB_URL=postgresql://postgres:familiamayo1.@@db.nryocpngmjaecigadcbn.supabase.co:5432/postgres

# App Configuration
PORT=3000
NODE_ENV=development